.ls-button {
  span {
    line-height: normal;
  }
  .ls-icon {
    margin-right: 6px;
    &.only-icon {
      margin-right: 0;
    }
  }
  .ls-iconify {
    margin-right: 6px;
  }
  .ls-iconify,
  .ls-slot {
    vertical-align: middle;
  }
}
