html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
footer,
header,
section {
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  font-family: PingFangSC-Regular, PingFang, 'Microsoft YaHei', 'SF Pro', 'Segoe UI';
  font-size: 12px;
  color: $color-text1;
}
a,
a:hover {
  text-decoration: none;
}
ul,
li,
ol {
  list-style: none;
}
.v-modal {
  background: $color-text1 !important;
  opacity: 0.8 !important;
}

// lucktsheet
.luckysheet-modal-dialog-slider-imageCtrl,
.luckysheet-modal-dialog-controll {
  display: none !important;
}

// luckysheet 双击不展示编辑状态框
.luckysheet-input-box {
  display: none !important;
}
.luckysheet-loading-image {
  display: none !important;
}

// 禁止操作
.luckysheet-cell-main {
  // 不展示当前选中的框
  .luckysheet-cell-selected,
  .luckysheet-modal-dialog-border {
    display: none !important;
  }

  // 图片不允许展示编辑样式
  /* stylelint-disable-next-line selector-id-pattern */
  #luckysheet-modal-dialog-activeImage {
    border: 0 !important;
  }
  /* stylelint-disable-next-line selector-id-pattern */
  #luckysheet-modal-dialog-activeImage .luckysheet-modal-dialog-content {
    display: none !important;
  }
  .luckysheet-modal-dialog.luckysheet-modal-dialog-image {
    display: block !important;
  }
  .luckysheet-modal-dialog-resize,
  .luckysheet-modal-dialog-controll {
    display: none !important;
  }
}
