@charset 'utf-8';
@use "sass:list";

/*************** color *****************/
@for $i from 1 through 10 {
  $cbrand: list.nth($color-brands, $i);

  .ls-color-brand#{$i} {
    color: $cbrand;
  }

  $csuccess: list.nth($color-successs, $i);

  .ls-color-success#{$i} {
    color: $csuccess;
  }

  $cwarning: list.nth($color-warnings, $i);

  .ls-color-warning#{$i} {
    color: $cwarning;
  }

  $cdanger: list.nth($color-dangers, $i);

  .ls-color-danger#{$i} {
    color: $cdanger;
  }

  $cinfo: list.nth($color-infos, $i);

  .ls-color-info#{$i} {
    color: $cinfo;
  }
}

@for $i from 1 through 7 {
  $cgray: list.nth($color-grays, $i);

  .ls-color-gray#{$i} {
    color: $cgray;
  }

  $cfill: list.nth($color-fills, $i);

  .ls-color-fill#{$i} {
    color: $cfill;
  }
}

@for $i from 1 through 6 {
  $cborder: list.nth($color-borders, $i);

  .ls-color-border#{$i} {
    color: $cborder;
  }
}

@for $i from 1 through 5 {
  $ctext: list.nth($color-texts, $i);

  .ls-color-text#{$i} {
    color: $ctext;
  }
}
.ls-color-light {
  color: $color-light;
}
.ls-color-dark {
  color: $color-dark;
}

/*********  font-size & line-height  *********/
.ls-font-size-large {
  font-size: $font-size-large;
}
.ls-line-height-large {
  line-height: $line-height-large;
}
.ls-font-size-medium {
  font-size: $font-size-medium;
}
.ls-line-height-medium {
  line-height: $line-height-medium;
}
.ls-font-size-title-large {
  font-size: $font-size-title-large;
}
.ls-line-height-title-large {
  line-height: $line-height-title-large;
}
.ls-font-size-title-medium {
  font-size: $font-size-title-medium;
}
.ls-line-height-title-medium {
  line-height: $line-height-title-medium;
}
.ls-font-size-title-small {
  font-size: $font-size-title-small;
}
.ls-line-height-title-small {
  line-height: $line-height-title-small;
}
.ls-font-size-subtitle-large {
  font-size: $font-size-subtitle-large;
}
.ls-line-height-subtitle-large {
  line-height: $line-height-subtitle-large;
}
.ls-font-size-subtitle-medium {
  font-size: $font-size-subtitle-medium;
}
.ls-line-height-subtitle-medium {
  line-height: $line-height-subtitle-medium;
}
.ls-font-size-subtitle-small {
  font-size: $font-size-subtitle-small;
}
.ls-line-height-subtitle-small {
  line-height: $line-height-subtitle-small;
}
.ls-font-size-content-large {
  font-size: $font-size-content-large;
}
.ls-line-height-content-large {
  line-height: $line-height-content-large;
}
.ls-font-size-content-medium {
  font-size: $font-size-content-medium;
}
.ls-line-height-content-medium {
  line-height: $line-height-content-medium;
}
.ls-font-size-content-small {
  font-size: $font-size-content-small;
}
.ls-line-height-content-small {
  line-height: $line-height-content-small;
}
.ls-font-size-label-medium {
  font-size: $font-size-label-medium;
}
.ls-line-height-label-medium {
  line-height: $line-height-label-medium;
}
.ls-font-size-label-small {
  font-size: $font-size-label-small;
}
.ls-line-height-label-small {
  line-height: $line-height-label-small;
}
.ls-font-size-link-large {
  font-size: $font-size-link-large;
}
.ls-line-height-link-large {
  line-height: $line-height-link-large;
}
.ls-font-size-link-medium {
  font-size: $font-size-link-medium;
}
.ls-line-height-link-medium {
  line-height: $line-height-link-medium;
}
.ls-font-size-link-small {
  font-size: $font-size-link-small;
}
.ls-line-height-link-small {
  line-height: $line-height-link-small;
}

/*********************** box-shadow *************************/
.lsbox-shadow-base {
  box-shadow: $box-shadow-base;
}
.lsbox-shadow-mid {
  box-shadow: $box-shadow-mid;
}
.lsbox-shadow-up {
  box-shadow: $box-shadow-up;
}

/****************** root ******************/
:root {
  @for $i from 1 through 10 {
    $cbrand: list.nth($color-brands, $i);

    --color-brand#{$i}: #{$cbrand};

    $csuccess: list.nth($color-successs, $i);

    --color-success#{$i}: #{$csuccess};

    $cwarning: list.nth($color-warnings, $i);

    --color-warning#{$i}: #{$cwarning};

    $cdanger: list.nth($color-dangers, $i);

    --color-danger#{$i}: #{$cdanger};

    $cinfo: list.nth($color-infos, $i);

    --color-info#{$i}: #{$cinfo};
  }

  @for $i from 1 through 7 {
    $cgray: list.nth($color-grays, $i);

    --color-gray#{$i}: #{$cgray};

    $cfill: list.nth($color-fills, $i);

    --color-fill#{$i}: #{$cfill};
  }

  @for $i from 1 through 6 {
    $cborder: list.nth($color-borders, $i);

    --color-border#{$i}: #{$cborder};
  }

  @for $i from 1 through 5 {
    $ctext: list.nth($color-texts, $i);

    --color-text#{$i}: #{$ctext};
  }

  --color-light: #{$color-light};
  --color-dark: #{$color-dark};

  -box-shadow-base: #{$box-shadow-base};
  -box-shadow-mid: #{$box-shadow-mid};
  -box-shadow-up: #{$box-shadow-up};

  --bg-color-primary: #e2edff;
  --el-color-primary: #006eff;
  --el-color-primary-light-3: #2a86ff;
  --el-color-primary-light-5: #7fb6ff;
  --el-color-primary-light-7: #b2d3ff;
  --el-color-primary-light-8: #cce2ff;
  --el-color-primary-light-9: #e5f0ff;
}
